@import url('[https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap](https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap)');
    
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* Custom scrollbar for better aesthetics, optional */
    .overflow-auto::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    .overflow-auto::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    .overflow-auto::-webkit-scrollbar-thumb {
      background: #a8a8a8;
      border-radius: 10px;
    }

    .overflow-auto::-webkit-scrollbar-thumb:hover {
      background: #888;
    }